<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> 
 <!--spring的注解开关  -->
<context:component-scan base-package="com.itheima" />  
<!-- 连接池的接入 -->
<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/ssh_01"></property>
		<property name="user" value="root"></property>
		<property name="password" value="123"></property>
</bean>  
<!-- hibernate的托管 -->
<bean name="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" >
	<property name="dataSource" ref="dataSource" ></property>
	<property name="hibernateProperties">
		<props>
   			<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
   			<prop key="hibernate.show_sql">true</prop>
   			<prop key="hibernate.format_sql">true</prop>
   			<prop key="hibernate.hbm2ddl.auto">update</prop>
    	</props>
	</property>
	<!-- 注解扫描 -->
	<property name="packagesToScan" value="com.itheima.domain"/>
</bean>
<!--配置事物管理员  -->
<bean name="transactionManager"  class="org.springframework.orm.hibernate5.HibernateTransactionManager" >
	<property name="sessionFactory" ref="sessionFactory" ></property>
</bean>
<!-- 开启事物注解 -->
<tx:annotation-driven transaction-manager="transactionManager" />

</beans>